
#tipSelectionContainer{
    margin-top: 10%;
    margin-left: 3%;
    width: 100%;

}

#tipGrid{
    margin-top: 0.8rem;
    display: grid;
    grid-template-columns: 6rem 6rem 6rem;
    grid-template-rows: 2.5rem 2.5rem;
    column-gap: 1rem;
    row-gap: 1rem;
}


button{
    background-color: var(--secondary);
    border: 0px;
    border-radius: 5px;
    color: white;
    font-size: 1.5rem;
    font-weight: 750;
}

#tipGrid input{
    text-align: center;
    margin-left: 3%;
    outline: 0px;
    border: 0px;
    border-radius: 5px;
    padding-left: 0.7rem;
}
input::placeholder{
    overflow: visible;
}

.clicked{
    background-color: var(--primary);
    color: var(--secondary);
}

@media(max-width: 850px){
    #tipGrid input{
        padding-left: 0.3rem;
    }
}

@media (max-width: 400px) {
    #tipGrid{
        grid-template-columns: 6rem 6rem;
        grid-template-rows: 2.5rem 2.5rem 2.5rem;
    }
}
