#peopleSelectionContainer{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-bottom: 3rem;
    margin-left: 3%;
    width: 100%;
}



#peopleSelectionContainer label{
    margin-left: 2%;
}

#peopleSelectionContainer input{
    background-image: url('./images/icon-person.svg');
    background-repeat: no-repeat;
    background-position-x: 8px;
    background-position-y: 8px;
    padding-right: 0.5rem;
}